/* TopClients.css */

.container {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(8, 8, 53);
  }
  
  .container p {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .container p {
    width: 100%;
  }
  .container .dot {
    color: rgb(12, 91, 210);
  }
  .container .dash {
    color:rgb(12, 91, 210);
    font-size: 4rem;
    vertical-align: bottom;
    margin-bottom: -13px;
  }
  