.footer {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  background-color: #0a0e27;
  color: #ffffff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.footer-section {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background-color: #1a2238;
  border-radius: 10px;
  height: fit-content;
}

.footer-section img.footer-logo {
  width: 200px;
  margin-bottom: 15px;
  margin-left: 35px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  margin-top: 30px;
}

.footer-section p,
.footer-section address {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 1.7rem;
  margin-left: 25px;
}

.footer address {
  color: #ffffffcc;
}

.footer-section .first {
  font-weight: 400;
  color: #ffffffe3;
  cursor: pointer;
}

.footer-section .second {
  font-weight: 700;
  color: #ffffffb8;
  cursor: pointer;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  cursor: pointer;
}

.footer-section li::before {
  color: #ffffff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.footer-section .arrow {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.footer-section .expanded {
  height: auto;
  opacity: 1;
  margin: 10px 0;
}

.footer-section .social-icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 15px;
}

.footer-section .social-icons > * {
  color: #ffffff;
  font-size: 2.5rem;
  margin-left: 10px;
  background-color: #4b4f58;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  line-height: 1;
}

.footer-section .social-icons > *:hover {
  color: #cccccc;
}

.footer-section p > svg,
.footer-section address > svg {
  margin-right: 10px;
}

.footer-section .icon {
  font-size: 1.5rem;
}

.align-center {
  width: 250px;
  background-color: #4b4f58;
  border-radius: 5px;
  padding: 10px;
}
