.technology-stack-container {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 12rem;
  }

  .technology-stack-container h2 {
    color: white;
    line-height: 0.3em;
  }
  
  .technology-stack-icons {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .tech-icon {
    width: 50px;
    height: 50px;
  }

  .container-dot span {
    font-size: 3em;
    color: rgb(12, 91, 210);
  }

  .technology-stack-container .dot {
    color: rgb(12, 91, 210);
  }
  .technology-stack-container .dash {
    color: rgb(12, 91, 210);
    font-size: 4rem;
    vertical-align: bottom;
    margin-bottom: -13px;
  }

  