.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
    background-color: rgba(40, 38, 38, 0.789); 
    font-family: Arial, sans-serif;
    border-top: 1px solid #e0e0e0;
    position: fixed; 
    width: 100%;
    bottom: 0;
    left: 0;
}

.container-footer p {
    padding-top: 25px;
    color: rgb(243, 226, 226);
    font-size: 12px;
    margin-left: 40rem;
}
