.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  margin: 0 1px;
}

.nav-link {
  color: #0A2863;
  text-decoration: none;
  padding: 10px 8px;
  position: relative;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  text-decoration: overline;
  text-decoration-color: red;
}

.nav-link .dropdown-icon {
  margin-left: 5px;
  font-size: 2.5rem;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-top: 3px solid red;
}

.nav-item:hover .dropdown {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  color: rgb(2, 16, 93);
  text-decoration: none;
  font-size: 1.5rem;
}

.dropdown-item:hover {
  color: #da7a21;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.search-icon {
  font-size: 18px;
  margin: 0 10px;
}

.get-in-touch-button {
  background: #DA2124;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 1.5rem;
}

.get-in-touch-button:hover {
  background: rgb(5, 5, 26);
}

.grid-item h3 {
  font-size: 12px;
  margin-left: 13px;
}


.dropdown.aboutOne .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.dropdown.aboutOne .grid-item {
  padding: 10px;
}

.dropdown.aboutOne h3 {
  margin-bottom: 2px;
}

.dropdown-item {
  display: block;
  color: #333;
  text-decoration: none;
  list-style-type: none;
  width: 350px;
  line-height: 0.2em;
}

.dropdown-item:hover {
  color: #007BFF;
}

.grid-item .squareIcon {
  background-color: rgba(132, 64, 64, 0.785);
  margin-right: 10px;
}



/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links.nav-links-mobile {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
  }

  .dropdown {
    position: static;
    box-shadow: none;
    border-top: none;
  }

  .dropdown-item {
    padding: 10px 0;
  }

  .get-in-touch-button {
    margin: 10px 0;
  }
}
