/* TopBar.css */
.top-bar {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, rgb(235, 15, 15), rgb(13, 13, 235));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10rem;
    box-sizing: border-box;
  }
  
  .left, .right {
    display: flex;
    align-items: center;
  }
  
  .icon {
    color: white;
  }
  
  .move {
    margin-left: 2rem;
  }
  .background {
    background: #FFFFFF1c;
    margin: 0 5px 0 0;
    padding: 9px;
    font-size: 3.1rem;
    border-radius: 10px;
  }
  
  .contact-item {
    color: white;
    display: flex;
    align-items: center;
    margin: 0 4.5px 0 0;
    padding: 10px;
    background: #FFFFFF1c;
    border-radius: 5px;

  }
  
  .contact-item span{
    font-size: 1.2rem;
  }
  .contact-item .icon {
    margin-right: 5px;
    font-size: 1.2rem;
  }
  